.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

body {
    margin: 0;

}

hr {
    height: 11px;
    width: 80%;
    border-radius: 3px;
    border: none;
}

.whitebg {
    background: white;
}

.purplebg {
    background: linear-gradient(90deg, #60059cff, rgba(96,5,156,1));
}

.filler {
    flex-grow: 2;
}

* {
    font-family: Lexend;
}

.purpletext {
    color: #300076ff;
}

.button {
    background: #DDD1E4;
    color: #300076ff;
    border: 1.5px solid #300076ff;
    border-radius: 5px;
}

.search {
    background: white;
    border: 1.5px solid #300076ff;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
